language: groovy
jdk:
- openjdk8
sudo: false
branches:
  only:
  - master
addons:
  apt:
    packages:
    - gdal-bin
before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
  - $HOME/.gradle/caches/
  - $HOME/.gradle/wrapper/
script:
- ./gradlew clean war
deploy:
  provider: releases
  api_key:
    secure: HDSr9F//Oyw8gNz3JbmOyu97gBDR60lEMDnadYV5yAgxO2OQ0MwWdAfX0X4RnG85WaBGv5Tfy75XCtFGigsNM5eT0zMDDgggGRIKyHe1LrPZFVP4kWsQq2GOQI43ko22hUEjxkgpeI+vkE9xXNhJQsabayaiSntwCgDgKimXd+nX9EFzjjJUw6GTP3CBrGpXSW/HjRNIWZZhfCc/svQWnOzHx72L2yr6jhTD8OBK5+nfucFJHie+vzLNmRSL/mlaZH0v1HKjNFdpiTe0up6sNaijSwwZndx1CufIutVg8kXeVuJNGYz8Rb8O8xWUmBEXRV91HDZw/mzmBavEt1WfjbTSZma2WoY55LFQeRPXLg3RREx5gwzjWZyFvQ/ryyv2yEwby2GDcuy89GCFlp/uXiUxSGBDboIEQvFukp05uw9QFP6LKMZ+mJdSB2dnXKTIsgso25PiLSCYpKJu6bE6c/Km7NAXDPXswSzAz7vtEDe7tjSGeiGekPBhE0pYH9uFPXeEjX5zzluDcrVVGpv3vmzehPGZAPYXQokp1+lmkdnt4mAgLLik8HcrwgN4SG5D3XEKG8B3t9BaYJEi2f+08ksbva32fC/TM7WV+y5wLRS1BMRNPzRVb7Zc7eOScMmQiQJqZcpxEcmFfyVLtnvI4s/WyIImA8YE0E2MiS9hUEk=
  file_glob: true
  file: "./build/libs/spatial-hub-*.war"
  skip_cleanup: true
  overwrite: true
  on:
    repo: bioatlas/spatial-hub
    tags: true